@import '../../node_modules/tailwindcss/base.css';
@import '../../node_modules/tailwindcss/components.css';
@import '../../node_modules/tailwindcss/utilities.css';
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --color-bgd1: rgb(5, 30, 5);
    --color-bgd2: rgb(5, 20, 5);
    --color-bgl1: rgb(220 252 231);
    --color-bgl2: rgb(220 252 231);
    background: linear-gradient(40deg, var(--color-bgl1), var(--color-bgl2));
    color: black;
}

.dark {
    background: linear-gradient(40deg, var(--color-bgd1), var(--color-bgd2));
    color: white;
}

.gradientText {
    font-family: "Archivo Black", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    background: linear-gradient(to right, #afff00, #00ff00, #20c20c, #00ff00, #afff00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 8s linear infinite;
}

.skillSingle {
    /* pt-3 mt-3 pb-2 px-5 bg-gray-600/25 rounded-3xl flex flex-col items-center */
    margin-top: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: rgba(75, 85, 99, 0.25);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillTop {
    /* pt-3 mt-3 pb-2 px-5 bg-gray-600/25 rounded-t-3xl flex flex-col items-center */
    margin-top: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: rgba(75, 85, 99, 0.25);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillCenter {
    /* pt-6 pb-2 px-5 b g-gray-600/25 flex flex-col items-center */
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: rgba(75, 85, 99, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillBottom {
    /* pt-6 pb-2 px-5 bg-gray-600/25 rounded-b-3xl flex flex-col items-center */
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: rgba(75, 85, 99, 0.25);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillDesktopImage {
    /* w-10 h-10 xl: w-[5vw] xl:h-[9vh] object-contain transition duration-75 xl:group-hover:scale-125 xl:group-hover:-translate-y-2 */
    width: 2.5rem;
    height: 2.5rem;

    @media (min-width: 1280px) {
        width: 5vw;
        height: 9vh;
    }

    object-fit: contain;
    transition: transform 0.075s;

    @media (min-width: 1280px) {
        .group:hover & {
            transform: scale(1.15) translateY(-0.5rem);
        }
    }
}

.skillDesktopText {
    /* text-center xl: opacity-0 transition group-hover:opacity-100 */
    text-align: center;

    @media (min-width: 1280px) {
        opacity: 0;
        transition: opacity 0.2s;

        .group:hover & {
            opacity: 1;
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 300%;
    }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.dutch-flag {
    height: 30px;
    width: 40px;
    background-color: white;
    position: relative;
    border-radius: 11px;
}

.dutch-flag::before,
.dutch-flag::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 33.33%;
}

.dutch-flag::before {
    top: 0;
    background-color: #ae1c28;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.dutch-flag::after {
    bottom: 0;
    background-color: #21468b;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.uk-flag {
    height: 30px;
    width: 40px;
    position: relative;
    border-radius: 10px;
    background-color: #012169;
    --white: #fff;
    --red: #c8102e;
    --proportion: 0.5;
    --diagonal-angle: 26.5650512deg;
    background-image: linear-gradient(0deg, transparent 40%, var(--red) 40%, var(--red) 60%, transparent 60%),
        linear-gradient(90deg, transparent 45%, var(--red) 45%, var(--red) 55%, transparent 55%),
        linear-gradient(0deg, transparent 33.33333%, var(--white) 33.33333%, var(--white) 66.66667%, transparent 66.66667%),
        linear-gradient(90deg, transparent 41.66667%, var(--white) 41.66667%, var(--white) 58.33333%, transparent 58.33333%),
        linear-gradient(to top left, transparent 0, transparent 45%, var(--red) 45%, var(--red) 55%, transparent 55%, transparent 100%),
        linear-gradient(to top right, transparent 0, transparent 45%, var(--red) 45%, var(--red) 55%, transparent 55%, transparent 100%),
        linear-gradient(to top left, transparent 0, transparent 41.66667%, var(--white) 41.66667%, var(--white) 58.33333%, transparent 58.33333%, transparent 100%),
        linear-gradient(to top right, transparent 0, transparent 41.66667%, var(--white) 41.66667%, var(--white) 58.33333%, transparent 58.33333%, transparent 100%);
}