@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    background-color: rgb(220 252 231);
    color: black;
}

.dark {
    background-color: #151515;
    color: white;
}

.gradientText {
    font-family: "Archivo Black", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    background: linear-gradient(to right, #afff00, #00ff00, #20c20c, #00ff00, #afff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 8s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 300%;
    }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.dutch-flag {
    height: 30px;
    width: 40px;
    background-color: white;
    position: relative;
    border-radius: 11px;
}

.dutch-flag::before,
.dutch-flag::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 33.33%;
}

.dutch-flag::before {
    top: 0;
    background-color: #ae1c28;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.dutch-flag::after {
    bottom: 0;
    background-color: #21468b;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.uk-flag {
    height: 30px;
    width: 40px;
    position: relative;
    border-radius: 10px;
    background-color: #012169;
    --white: #fff;
    --red: #c8102e;
    --proportion: 0.5;
    --diagonal-angle: 26.5650512deg;
    background-image: linear-gradient(0deg, transparent 40%, var(--red) 40%, var(--red) 60%, transparent 60%),
    linear-gradient(90deg, transparent 45%, var(--red) 45%, var(--red) 55%, transparent 55%),
    linear-gradient(0deg, transparent 33.33333%, var(--white) 33.33333%, var(--white) 66.66667%, transparent 66.66667%),
    linear-gradient(90deg, transparent 41.66667%, var(--white) 41.66667%, var(--white) 58.33333%, transparent 58.33333%),
    linear-gradient(to top left, transparent 0, transparent 45%, var(--red) 45%, var(--red) 55%, transparent 55%, transparent 100%),
    linear-gradient(to top right, transparent 0, transparent 45%, var(--red) 45%, var(--red) 55%, transparent 55%, transparent 100%),
    linear-gradient(to top left, transparent 0, transparent 41.66667%, var(--white) 41.66667%, var(--white) 58.33333%, transparent 58.33333%, transparent 100%),
    linear-gradient(to top right, transparent 0, transparent 41.66667%, var(--white) 41.66667%, var(--white) 58.33333%, transparent 58.33333%, transparent 100%);
}